<div class="section2">
  <h1>Tisso vison in the wild</h1>
  <div class="productGrid">
    {% assign products = collections.all.products %}

    {% for product in products limit: 6 %}
      <div class="productItem">
        {{ product | image_url: width: 433 | image_tag: width: 433 }}
        <button onclick="fetchProduct(`{{ product }})`">+</button>
      </div>
    {% endfor %}
  </div>

  <div class="popup" id="product-popup">
    <div class="popup-content">
      <span class="close-popup" onclick="closePopup()">X</span>
      <div>popup</div>
    </div>
  </div>
</div>
<style>
  .section2 {
    padding: 51px;
  }
  .productGrid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }
  .gridItem {
    width: 433px;
    height: 444px;

  }
  .popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);

  }
  .popup-content {
    background-color: #fff;
    margin: 10% auto;
    padding: 20px;

    width: 311px;Ï
    height: 447px;

    gap: 0;

    background: rgba(255, 255, 255, 1);
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);

  }
</style>

<script>
  const productData = [
    {% for product in products %}{
    'id': "{{ product.id }}",
    'title':"{{ product.title }}",
    'price' : "{{ product.price  }}",
    'variants':[
      {% for variant in product.variants %}
        {
          'id':"{{ variant.id }}",
          'option1':"{{ variant.option1 }}",
          'option2':"{{ variant.oprtion2 }}",
          'price':"{{ variant.price }}"
        }
          {% if forloop.last==false %},{% endif %}
          {% endfor %}
        ]
      }
          {% if forloop.last==false %},{% endif %}
          {% endfor %}
      ]
          console.log(productData)


  const popup = document.getElementById("product-popup");

  function closePopup() {

    popup.style.display = "none";
  };

  let currentProduct = null;

  function fetchProduct(productId){
    const id = productId;
    console.log(id)

    popup.style.display = "block";
  }
</script>
