{{ 'custom_grid.css' | asset_url | stylesheet_tag }}
{{ 'custom-product-grid.js.liquid' | asset_url | script_tag }}
<div class="section2">
  <h1>Tisso vison in the wild</h1>
  <div class="productGrid">
    {% assign products = collections[section.settings.collection].products %}

    {% for product in products limit: 6 %}
      <div class="productItem">
        <!-- {{ product.featured_image | image_tag: crop: 'center', scale: 2 }} -->
        <img src=" {{ product.featured_image | image_url }}" height="100%" width="100%">
        <button
          class="open-popup"
          onclick="fetchProduct({{ product.id }})"
          data-product-id="{{ product.id }}"
        >
          +
        </button>
      </div>
    {% endfor %}
  </div>

  <div class="popup" id="product-popup">
    <div class="popup-content">
      <span class="close-popup" onclick="closePopup()">&#10005;</span>
      <div
        class="popupMainDiv"
        style="
          height: 90%;
          justify-content: space-between;
        "
      >
        <div class="popupMainDiv">
          <div class="firstDiv">
            <img id="popupImg" src="" alt="Product Image" class="productImage" height="140" width="120">
            <div class="popupTextDiv">
              <p id="popup-title"></p>
              <p id="popup-price"></p>
              <p id="popup-description"></p>
            </div>
          </div>
          <div class="secondDiv">
            <div class="color-selector">
              <p class="colorHeader">Color</p>
              <div class="color-button-group" id="color-button-group"></div>

              <div class="size-selector">
                <label>Size</label>
                <div id="size"></div>
              </div>
            </div>
          </div>
        </div>
        <button id="add-to-cart" class="add-to-cart-button">ADD TO CART</button>
      </div>
    </div>
  </div>
</div>

{% schema %}
  {
  "name": "Product Grid Section",
  "settings": [
    {
      "type": "collection",
      "id": "collection",
      "label": "Choose a Collection"
    }
  ]
}
{% endschema %}
